@import '../../../styles/variables.scss';


.socialLinks {
    width  : 108px;
    display: flex;

    a {
        display     : initial;
        margin-right: 28px;
        color       : $black;

        &:last-child {
            margin-right: 0px;
        }

        &:hover {

            &::before,
            &::after {
                display: none;
            }
        }

    }
}
