.landingContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landingContent .allSections {
  width: 80%;
  padding-left: 5rem;
}

@media screen and (max-width: 992px) {
  .allSections {
    width: 100%;
    padding: 10px !important;
  }
}
