@import '../../styles/variables.scss';

.landingContent {
    display: flex;

    .allSections {
        width       : $landingWid;
        padding-left: 5rem;
    }
}


@media screen and (max-width: 992px) {
    .allSections {
        width  : 100%;
        padding: 10px !important;
    }
}