.allRatings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allRatings .star {
  padding: 0 2px;
}

.allRatings .star.inactive {
  color: #d8d8d8;
}

.allRatings .star.active {
  color: #fad451;
}

.allRatings .star:first-child {
  padding-left: 0px;
}

.allRatings .star:last-child {
  padding-right: 0px;
}
