html,
body {
  overflow: hidden;
  background: #f0f0f0;
}

html *,
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffd541;
}

.pageBody {
  padding-left: 50px;
  max-width: 1600px;
  margin: 0 auto;
}

.pageBody * {
  font-family: "Open Sans", sans-serif;
}

button {
  border: none;
  background: transparent;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  outline: none;
}

@media screen and (max-width: 600px) {
  .pageBody {
    padding-left: 0px;
  }
}
