//Contains commonly used styles across the app

@import './variables.scss';

html,
body {
    overflow  : hidden;
    background: $pageBg;

    * {
        box-sizing        : border-box;
        transition        : all 0.2s ease;
        -webkit-transition: all 0.2s ease;
    }
}

::-webkit-scrollbar {
    width : 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: $primaryCol;
}


.pageBody {
    padding-left: 50px;
    max-width   : $maxBodyWidth;
    margin      : 0 auto;

    * {
        font-family: $title;
    }
}

button {
    border    : none;
    background: transparent;
    font-size : 18px;
    cursor    : pointer;
    position  : relative;
    outline   : none;
}

//Mobile devices
@media screen and (max-width: 600px) {
    .pageBody {
        padding-left: 0px;
    }
}