//Common
$maxBodyWidth: 1920px;

//Font
$title: 'Open Sans',
sans-serif;
$body: 'Montserrat',
sans-serif;
$semiBold: 600;
$bold    : 700;
$thin    : 300;

//Colors
$primaryCol : #ffd541;
$activeCol  : #feeaa1;
$pageBg     : #f0f0f0;
$white      : #ffffff;
$black      : #000000;
$subTextCol : #a2a2a2;

//Header
$logoDim: 48px;

//Sidebar
$sidebarWid: 25%;

//Landing Content
$landingWid: 75%;