//Common
$maxBodyWidth: 1600px;

//Font
$title: 'Open Sans',
sans-serif;
$body: 'Montserrat',
sans-serif;
$semiBold: 600;
$bold    : 700;
$thin    : 300;

//Colors
$primaryCol: #ffd541;
$activeCol : #feeaa1;
$pageBg    : #f0f0f0;
$white     : #ffffff;
$black     : #000000;

//Header
$logoDim: 48px;