.header {
  background: #ffffff;
  padding: 25px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menuIcon {
  position: relative;
}

.header .menuIcon::before, .header .menuIcon::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #000000;
  width: 25px;
}

.header .menuIcon::before {
  top: -7px;
}

.header .menuIcon::after {
  top: 3px;
}

.header .logo {
  height: 48px;
  width: 48px;
}

.header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}

.header .iconAction.menu {
  display: none;
  width: 42px;
  height: 20px;
}

.header .navItems .iconAction {
  margin: 0 4px;
}

.header .navItems .iconAction:last-child {
  margin-right: 0px;
}

.header .navItems .badge {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  background: #fad451;
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  top: -6px;
  right: 0px;
}

.subHeader {
  height: 45px;
  background: #ffffff;
  border-top: 1px solid #ddd;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.subHeader .subHeadNav {
  width: 120px;
  margin: 0 8px;
  position: relative;
  font-size: 10px !important;
  cursor: pointer;
}

.subHeader .subHeadNav:first-child {
  margin-left: 0px;
}

.subHeader .subHeadNav:last-child {
  margin-right: 0px;
}

.subHeader .subHeadNav.active, .subHeader .subHeadNav:hover {
  background: #fad451;
  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 14px 15px !important;
  }
  .header .logo {
    height: 32px;
    width: auto;
  }
}

@media screen and (max-width: 992px) {
  .header {
    padding: 14px 35px;
  }
  .header .iconAction.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .navItems .nav {
    display: none;
  }
  .subHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
