@import '../../../styles/variables.scss';

.header {
    background     : $white;
    padding        : 25px 35px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;

    .menuIcon {
        position: relative;

        &::before,
        &::after {
            content         : "";
            position        : absolute;
            height          : 3px;
            background-color: $black;
            width           : 25px;
        }

        &::before {
            top: -7px;
        }

        &::after {
            top: 3px;
        }

    }

    .logo {
        height: $logoDim;
        width : $logoDim;

        img {
            object-fit: contain;
            height    : 100%;
            width     : 100%;
        }
    }


    .iconAction {
        &.menu {
            display: none;
            width  : 42px;
            height : 20px;
        }
    }

    .navItems {

        .iconAction {
            margin: 0 4px;

            &:last-child {
                margin-right: 0px
            }
        }

        .badge {
            position       : absolute;
            font-size      : 10px;
            font-weight    : bold;
            background     : $primaryCol;
            width          : 18px;
            height         : 18px;
            display        : flex;
            align-items    : center;
            justify-content: center;
            border-radius  : 50%;
            top            : -6px;
            right          : 0px;
        }
    }
}

.subHeader {
    height         : 45px;
    background     : #ffffff;
    border-top     : 1px solid #ddd;
    justify-content: center;
    display        : none;
    position       : fixed;
    width          : 100%;
    z-index        : 4;
    top            : 75px;

    .subHeadNav {
        width    : 120px;
        margin   : 0 8px;
        position : relative;
        font-size: 10px !important;
        cursor   : pointer;

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }


        &.active {
            pointer-events: none;
        }

        &.active,
        &:hover {
            background: $primaryCol;
            color     : $white;
        }
    }
}

//Mobile devices
@media screen and (max-width: 600px) {
    .header {
        padding: 14px 15px !important;

        .logo {
            height: 32px;
            width : auto;
        }
    }

    .subHeader {
        top: 60px;
    }
}

//Min-Width
@media screen and (max-width: 992px) {
    .header {
        padding: 14px 35px;


        .iconAction {
            &.menu {
                display: flex;
            }
        }

        .navItems {
            .nav {
                display: none;
            }
        }
    }

    .subHeader {
        display: flex;
    }
}