@import '../../../../styles/variables.scss';

.miniProdCard {
    padding: 0;

    .inner {
        background: $white;
        padding   : 15px;
        text-align: center;
        margin    : 2px;
        height    : 330px;

        img {
            height: 180px;
        }

        .name {
            font-weight: $semiBold;
            padding-top: 2rem;
        }

        .price {
            justify-content: center;
            padding        : 12px 0;
        }
    }
}