@import '../../../styles/variables.scss';

.allBreadcrumbs {
    display    : flex;
    align-items: center;
    padding    : 20px 0;

    >div {
        position: relative;

        &::after {
            content      : "";
            width        : 0;
            height       : 0;
            border-left  : 4px solid $primaryCol;
            border-top   : 3px solid transparent;
            border-bottom: 3px solid transparent;
            position     : absolute;
            top          : 9px;
            right        : -16px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    .bIcon {
        margin-right: 14px;
        position    : relative;
    }

    .breadcrumb {
        font-size  : 11px;
        margin     : 0 18px;
        position   : relative;
        height     : 22px;
        display    : flex;
        align-items: center;

        &:last-child {
            margin-right: 0px;
        }

        &.prev {
            color: $subTextCol;
        }
    }
}

//Mobile devices
@media screen and (max-width: 600px) {
    .allBreadcrumbs {
        display: none;
    }
}

//Min-Width
@media screen and (max-width: 992px) {
    .allBreadcrumbs {
        display: none;
    }
}