.allBreadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.allBreadcrumbs > div {
  position: relative;
}

.allBreadcrumbs > div::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid #fad451;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: 9px;
  right: -16px;
}

.allBreadcrumbs > div:last-child::after {
  display: none;
}

.allBreadcrumbs .bIcon {
  margin-right: 14px;
  position: relative;
}

.allBreadcrumbs .breadcrumb {
  font-size: 11px;
  margin: 0 18px;
  position: relative;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.allBreadcrumbs .breadcrumb:last-child {
  margin-right: 0px;
}

.allBreadcrumbs .breadcrumb.prev {
  color: #a2a2a2;
}

@media screen and (max-width: 600px) {
  .allBreadcrumbs {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .allBreadcrumbs {
    display: none;
  }
}
