.sidebar {
  height: calc(100vh - 180px);
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.sidebar .currentView {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-align: right;
  color: rgba(255, 255, 255, 0.77);
  font-weight: 700;
  font-size: 10rem;
  z-index: 2;
  max-width: 556px;
  margin: -40px 0 0 -40px;
}

.sidebar .currentView.Description {
  font-size: 6.3rem;
}

.sidebar .currentView.Reviews {
  font-size: 9rem;
}

.sidebar .pageNav a {
  text-align: right;
  display: block;
  position: relative;
  margin-bottom: 5rem;
}

.sidebar .pageNav a.active, .sidebar .pageNav a:hover {
  z-index: 1;
}

.sidebar .pageNav a.active::before, .sidebar .pageNav a.active::after, .sidebar .pageNav a:hover::before, .sidebar .pageNav a:hover::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 0vw;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  z-index: -1;
}

.sidebar .pageNav a.active::after, .sidebar .pageNav a:hover::after {
  background-color: #feeaa1;
  width: 100vw;
}

.sidebar .pageNav .socialLinks {
  width: 108px;
}

.sidebar .pageNav .socialLinks a {
  display: initial;
  margin-right: 28px;
}

.sidebar .pageNav .socialLinks a:last-child {
  margin-right: 0px;
}

.sidebar .pageNav .socialLinks a:hover::before, .sidebar .pageNav .socialLinks a:hover::after {
  display: none;
}

@media screen and (max-width: 1200px) {
  .sidebar .currentView {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
