@import '../../../styles/variables.scss';

.sidebar {
    height         : calc(100vh - 180px);
    // width          : $sidebarWid;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    position       : fixed;

    .currentView {
        writing-mode: vertical-rl;
        transform   : rotate(180deg);
        text-align  : right;
        color       : rgba(255, 255, 255, 0.77);
        font-weight : $bold;
        font-size   : 10rem;
        z-index     : 2;
        max-width   : 556px;
        margin      : -40px 0 0 -40px;

        &.Description {
            font-size: 6.3rem;
        }

        &.Reviews {
            font-size: 9rem;
        }
    }

    .pageNav {
        a {
            text-align   : right;
            display      : block;
            position     : relative;
            margin-bottom: 5rem;

            &.active,
            &:hover {
                z-index: 1;

                &::before,
                &::after {
                    content           : "";
                    position          : absolute;
                    height            : 9px;
                    width             : 0vw;
                    right             : 0;
                    bottom            : 0;
                    transition        : all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                    z-index           : -1;
                }

                &::after {
                    background-color: $activeCol;
                    width           : 100vw;
                }
            }
        }

        .socialLinks {
            width: 108px;

            a {
                display     : initial;
                margin-right: 28px;

                &:last-child {
                    margin-right: 0px;
                }

                &:hover {

                    &::before,
                    &::after {
                        display: none;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        display: none;
    }
}