@import '../../../../styles/variables.scss';

.productCard {
    background : $white;
    margin-left: 4rem;

    .row {
        padding: 3rem;

        .imgContainer,
        .dataContainer {
            transform: translate(-90px);
        }
    }

    .productDetails {
        * {
            &:not(i) {
                font-family: $body !important;
            }
        }

        .name {
            text-transform: none;
            font-size     : 26px;
            max-width     : 260px;
            font-weight   : $bold !important;
        }

        .ratingContainer {
            display    : flex;
            padding-top: 10px;
            align-items: center;

            span {
                color       : #d8d8d8;
                font-size   : 15px;
                font-weight : $semiBold;
                padding-left: 5px;
            }
        }

        .price {
            display    : flex;
            align-items: center;
            padding    : 18px 0;
            font-size  : 18px;
            font-weight: 700;

            .oldPrice {
                font-weight    : initial;
                color          : $subTextCol;
                margin-right   : 10px;
                text-decoration: line-through;
            }
        }

        .title {
            font-weight   : 700;
            font-size     : 11px;
            letter-spacing: 0.2px;
            text-transform: uppercase;
            color         : $listTitleCol;
        }

        .notes {
            padding     : 8px 0;
            border      : 1px solid #ddd;
            border-left : 0px;
            border-right: 0px;

            ul {
                padding-left: 18px;
                font-size   : 12px;
                line-height : 2.2;

                .desc {
                    font-family : $title !important;
                    padding-left: 5px;
                }
            }
        }

        .attributes {
            padding    : 18px 0;
            display    : flex;
            align-items: center;

            .feature {
                display     : flex;
                align-items : center;
                margin-right: 16px;

                &:last-child {
                    margin-right: 0px;
                }

                .icon {
                    width          : 20px;
                    height         : 20px;
                    padding        : 18px;
                    display        : flex;
                    align-items    : center;
                    justify-content: center;
                    border-radius  : 50%;
                    background     : #e5e5e5;
                    margin-right   : 10px;
                }

                .title {
                    max-width: 120px;
                }
            }
        }

        .color {

            padding-bottom: 15px;

            .colorSelection {
                display    : flex;
                align-items: center;
                padding    : 10px 0;

                .colorSelect {
                    width        : 25px;
                    height       : 25px;
                    border-radius: 50%;
                    margin       : 0px 10px 0px 0px;
                    cursor       : pointer;
                    position     : relative;

                    &.beige {
                        background: #dad5ab;
                    }

                    &.black {
                        background: $black;
                    }

                    &.white {
                        background: $white;
                        border    : 1px solid #ddd;
                    }

                    input[type=radio] {
                        margin : 0px 10px 0px 0px;
                        width  : 100%;
                        height : 100%;
                        opacity: 0;
                        cursor : pointer;

                        &:last-child {
                            margin: 0px;
                        }

                        &:checked~.checkMark {
                            &.white {
                                &::after {
                                    border: solid $black;
                                    top   : 6px;
                                    right : 9px;
                                }
                            }

                            &::after {
                                content     : '';
                                display     : block;
                                width       : 5px;
                                height      : 9px;
                                border      : solid #ffffff;
                                border-width: 0 2px 2px 0 !important;
                                transform   : rotate(45deg);
                                position    : absolute;
                                top         : 7px;
                                right       : 10px;
                                z-index     : 3;
                            }
                        }
                    }
                }
            }
        }

        .cardActions {
            display: flex;
        }
    }
}

@media screen and (max-width: 600px) {
    .productCard {
        margin-left: 0rem;

        .row {

            .imgContainer,
            .dataContainer {
                transform: translate(0, -90px);
            }

            .dataContainer {
                margin-top: 15px;
            }
        }

    }
}

@media screen and (max-width: 768px) {
    .productCard {
        margin-left: 0rem;

        .row {

            .imgContainer,
            .dataContainer {
                transform: translate(0, -90px);
            }

            .dataContainer {
                margin-top: 15px;
            }
        }

    }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
    .productCard {
        margin-left: 0rem;

        .row {

            .imgContainer,
            .dataContainer {
                transform: translate(-90px);
            }

            .dataContainer {
                margin-top: 15px;
            }
        }

    }
}

@media screen and (max-width: 992px) {
    .productCard {
        margin-left: 0rem;

        .row {
            .dataContainer {
                margin-top: 15px;
            }
        }

    }
}