.productCard {
  background: #ffffff;
  margin-left: 4rem;
}

.productCard .row {
  padding: 3rem;
}

.productCard .row .imgContainer,
.productCard .row .dataContainer {
  -webkit-transform: translate(-90px);
          transform: translate(-90px);
}

.productCard .productDetails *:not(i) {
  font-family: "Montserrat", sans-serif !important;
}

.productCard .productDetails .name {
  text-transform: none;
  font-size: 26px;
  max-width: 260px;
  font-weight: 700 !important;
}

.productCard .productDetails .ratingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productCard .productDetails .ratingContainer span {
  color: #d8d8d8;
  font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}

.productCard .productDetails .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  font-size: 18px;
  font-weight: 700;
}

.productCard .productDetails .price .oldPrice {
  font-weight: initial;
  color: #a2a2a2;
  margin-right: 10px;
  text-decoration: line-through;
}

.productCard .productDetails .title {
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #5b5b5b;
}

.productCard .productDetails .notes {
  padding: 8px 0;
  border: 1px solid #ddd;
  border-left: 0px;
  border-right: 0px;
}

.productCard .productDetails .notes ul {
  padding-left: 18px;
  font-size: 12px;
  line-height: 2.2;
}

.productCard .productDetails .notes ul .desc {
  font-family: "Open Sans", sans-serif !important;
  padding-left: 5px;
}

.productCard .productDetails .attributes {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productCard .productDetails .attributes .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
}

.productCard .productDetails .attributes .feature:last-child {
  margin-right: 0px;
}

.productCard .productDetails .attributes .feature .icon {
  width: 20px;
  height: 20px;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: #e5e5e5;
  margin-right: 10px;
}

.productCard .productDetails .attributes .feature .title {
  max-width: 120px;
}

.productCard .productDetails .color {
  padding-bottom: 15px;
}

.productCard .productDetails .color .colorSelection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.productCard .productDetails .color .colorSelection .colorSelect {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  position: relative;
}

.productCard .productDetails .color .colorSelection .colorSelect.beige {
  background: #dad5ab;
}

.productCard .productDetails .color .colorSelection .colorSelect.black {
  background: #000000;
}

.productCard .productDetails .color .colorSelection .colorSelect.white {
  background: #ffffff;
  border: 1px solid #ddd;
}

.productCard .productDetails .color .colorSelection .colorSelect input[type=radio] {
  margin: 0px 10px 0px 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.productCard .productDetails .color .colorSelection .colorSelect input[type=radio]:last-child {
  margin: 0px;
}

.productCard .productDetails .color .colorSelection .colorSelect input[type=radio]:checked ~ .checkMark.white::after {
  border: solid #000000;
  top: 6px;
  right: 9px;
}

.productCard .productDetails .color .colorSelection .colorSelect input[type=radio]:checked ~ .checkMark::after {
  content: '';
  display: block;
  width: 5px;
  height: 9px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0 !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 3;
}

.productCard .productDetails .cardActions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productCard .productDetails .counter {
  background: #efefef;
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productCard .productDetails .counter i {
  font-weight: 700;
  color: #5b5b5b;
  padding: 14px 12px;
  cursor: pointer;
  font-size: 10px;
}

.productCard .productDetails .counter .count {
  font-family: "Open Sans", sans-serif !important;
  cursor: default;
  font-size: 12px;
  font-weight: 600;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .productCard {
    margin-left: 0rem;
  }
  .productCard .row .imgContainer,
  .productCard .row .dataContainer {
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  .productCard .row .dataContainer {
    margin-top: 15px;
  }
}

@media screen and (max-width: 768px) {
  .productCard {
    margin-left: 0rem;
  }
  .productCard .row .imgContainer,
  .productCard .row .dataContainer {
    -webkit-transform: translate(0, -90px);
            transform: translate(0, -90px);
  }
  .productCard .row .dataContainer {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .productCard {
    margin-left: 0rem;
  }
  .productCard .row .imgContainer,
  .productCard .row .dataContainer {
    -webkit-transform: translate(-90px);
            transform: translate(-90px);
  }
  .productCard .row .dataContainer {
    margin-top: 15px;
  }
}

@media screen and (max-width: 992px) {
  .productCard {
    margin-left: 0rem;
  }
  .productCard .row .dataContainer {
    margin-top: 15px;
  }
}
