.footer {
  height: 50vh;
  background: #fad451;
}

.footer .newsletter {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer .newsletter::after {
  content: "";
  position: absolute;
  top: 65%;
  width: 50%;
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
}

.footer .newsletter input {
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  outline: none;
}

.footer .newsletter input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.footer .newsletter input:focus:-ms-input-placeholder {
  opacity: 0.5;
}

.footer .newsletter input:focus::-ms-input-placeholder {
  opacity: 0.5;
}

.footer .newsletter input:focus::placeholder {
  opacity: 0.5;
}

.footer .newsletter input::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

.footer .newsletter input:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.footer .newsletter input::-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.footer .newsletter input::placeholder {
  color: #000000;
  opacity: 1;
}

.footer .newsletter input:-ms-input-placeholder {
  color: #000000;
}

.footer .newsletter input::-ms-input-placeholder {
  color: #000000;
}

.footer .footerNav {
  position: relative;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  height: 30%;
  margin-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footerNav .navItems .nav {
  font-size: 11px;
}

.footer .footerNav .logo {
  position: absolute;
  width: 100%;
  left: -20px;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .footer .newsletter {
    display: none;
  }
  .footer .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative !important;
    left: 0 !important;
  }
  .footer .navItems {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 4;
  }
  .footer .navItems .nav.active::after {
    bottom: 15px;
  }
  .footer .socialLinks {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .footer .footerNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    padding: 50px;
    margin: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
