@import '../../../../styles/variables.scss';

.relatedProdSection,
.reviewSection {
    margin-bottom: 8rem;
    margin-left  : 4rem;

    .title {
        text-transform: none;
        font-size     : 26px;
        font-weight   : $bold;
        margin-bottom : 30px;
    }

    .allRelatedProducts {
        margin: 0px;
    }
}

.reviewSection {
    .title {
        padding-left: 15px;
    }
}

.section {
    background: $pageBg;
    margin    : 4rem 0 15rem 4rem;
    position  : relative;

    &:last-child {
        margin-bottom: 8rem;
    }

    .title {
        position  : absolute;
        top       : 0px;
        padding   : 20px 30px 20px 0px;
        max-width : 500px;
        background: $pageBg;
        height    : 120px;
        z-index   : 2;
    }

    .secTitle {
        position      : absolute;
        top           : -1px;
        background    : $pageBg;
        z-index       : 2;
        writing-mode  : vertical-rl;
        transform     : rotate(180deg);
        text-align    : right;
        height        : 100%;
        text-transform: uppercase !important;
        font-size     : 10px !important;
        letter-spacing: 1.7px;
        padding-left  : 20px;

        span {
            position: relative;

            &::after {
                content   : "";
                width     : 1px;
                height    : 3rem;
                background: $black;
                position  : absolute;
                bottom    : 0;
                right     : 6px;
                top       : -32%;
            }
        }
    }

    .secImgContainer {
        position          : absolute;
        bottom            : 38px;
        z-index           : 1;
        width             : 30%;
        height            : auto;
        left              : -15px;
        z-index           : 2;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
        -moz-box-shadow   : 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
        box-shadow        : 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
    }

    .desc {
        background : $pageBg;
        position   : absolute;
        top        : 105px;
        max-width  : 230px;
        height     : 100%;
        font-size  : 13px;
        line-height: 1.5;
        text-align : justify;
        padding    : 15px 40px 0 0;
    }

    .text {
        text-transform: none;
        font-size     : 26px;
        font-weight   : $bold;
    }

    .vidContainer {
        position       : absolute;
        top            : 0;
        background     : rgba(0, 0, 0, 0.36);
        height         : 99%;
        width          : 100%;
        z-index        : 1;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .playButton {
            position     : relative;
            width        : 40px;
            height       : 40px;
            background   : $primaryCol;
            border-radius: 50%;
            cursor       : pointer;
            text-align   : center;

            &::before {
                content      : "";
                width        : 70px;
                height       : 70px;
                position     : absolute;
                background   : $primaryCol;
                opacity      : 0.3;
                border-radius: 50%;
                top          : -15px;
                right        : -15px;
            }

            &::after {
                content      : "";
                width        : 0;
                height       : 0;
                border-left  : 8px solid $black;
                border-top   : 5px solid transparent;
                border-bottom: 5px solid transparent;
                position     : absolute;
                top          : 15px;
                right        : 15px;
            }

        }
    }

    .downloadContainer {
        position       : absolute;
        bottom         : 4px;
        right          : 0;
        display        : flex;
        align-items    : center;
        justify-content: center;
        height         : 100px;
        background     : $primaryCol;
        padding        : 0 50px;

        .text {
            font-size     : 14px !important;
            text-transform: uppercase;
            padding-left  : 15px;
        }
    }

}

@media screen and (max-width: 992px) {

    .section,
    .relatedProdSection,
    .reviewSection {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {

    .relatedProdSection {
        margin-left: 0px;
    }

    .section {
        background-image: none !important;
        height          : initial;
        margin-left     : 0px;
        background      : $white;
        margin-bottom   : 4rem;

        &.suggested {
            .sectionImg {
                padding   : 0;
                height    : 65vh;
                object-fit: cover;
            }

            .secTitle {
                padding-right: 15px;

            }
        }

        .downloadContainer {
            bottom : inherit;
            top    : 0;
            padding: 0 45px;
            right  : -1px;

            .text {
                font-size     : 14px !important;
                text-transform: uppercase;
                padding-left  : 15px;
            }
        }

        .title {
            position  : relative;
            height    : initial;
            background: $white;
            padding   : 16px;
            max-width : 100%;
        }

        .sectionImg {
            display: block;
            padding: 16px;

            &.vid {
                padding: 0px;
            }
        }

        .secImgContainer {
            left  : 18px;
            width : 60%;
            bottom: 11px;
        }

        .vidContainer {
            .playButton {
                top: -50px;
            }
        }

        .desc {
            position  : relative;
            top       : initial;
            padding   : 16px;
            max-width : 100%;
            background: $white;
        }
    }
}