.section {
  background: #f0f0f0;
  margin: 4rem 0 0 4rem;
  position: relative;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.section .sectionImg {
  display: none;
}

.section .title {
  position: absolute;
  top: 0px;
  padding: 20px 30px 20px 0px;
  max-width: 500px;
  background: #f0f0f0;
  height: 120px;
}

.section .desc {
  background: #f0f0f0;
  position: absolute;
  top: 105px;
  max-width: 230px;
  height: 100%;
  font-size: 13px;
  line-height: 1.5;
  text-align: justify;
  padding: 15px 40px 0 0;
}

.section .text {
  text-transform: none;
  font-size: 26px;
  font-weight: 700;
}

@media screen and (max-width: 992px) {
  .section {
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    background-image: none;
    margin-left: 0px;
  }
  .section .sectionImg {
    display: block;
  }
  .section .desc {
    position: relative;
    top: initial;
    max-width: 100%;
  }
}
