@import '../../../../styles/variables.scss';

.section {
    background       : $pageBg;
    margin           : 4rem 0 5rem 4rem;
    position         : relative;
    height           : 100%;
    background-size  : cover;
    background-repeat: no-repeat;

    .sectionImg {
        display: none;
    }

    .title {
        position  : absolute;
        top       : 0px;
        padding   : 20px 30px 20px 0px;
        max-width : 500px;
        background: $pageBg;
        height    : 120px;
        z-index   : 2;
    }

    .secTitle {
        position      : absolute;
        top           : 0px;
        background    : $pageBg;
        z-index       : 2;
        writing-mode  : vertical-rl;
        transform     : rotate(180deg);
        text-align    : right;
        height        : 100%;
        text-transform: uppercase !important;
        font-size     : 10px !important;
        letter-spacing: 1.7px;
        padding-left  : 20px;

        span {
            position: relative;

            &::after {
                content   : "";
                width     : 1px;
                height    : 5rem;
                background: $black;
                position  : absolute;
                bottom    : 0;
                right     : 6px;
                top       : -50%;
            }
        }
    }

    .secImgContainer {
        position          : absolute;
        bottom            : 38px;
        z-index           : 1;
        width             : 35%;
        height            : auto;
        left              : -15px;
        z-index           : 2;
        -webkit-box-shadow: 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
        -moz-box-shadow   : 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
        box-shadow        : 0px 0px 20px 0px rgba(88, 88, 88, 0.85);
    }

    .desc {
        background : $pageBg;
        position   : absolute;
        top        : 105px;
        max-width  : 230px;
        height     : 100%;
        font-size  : 13px;
        line-height: 1.5;
        text-align : justify;
        padding    : 15px 40px 0 0;
    }

    .text {
        text-transform: none;
        font-size     : 26px;
        font-weight   : $bold;
    }

    .vidContainer {
        position       : absolute;
        top            : 0;
        background     : rgba(0, 0, 0, 0.36);
        height         : 100%;
        width          : 100%;
        z-index        : 1;
        display        : flex;
        align-items    : center;
        justify-content: center;

        .playButton {
            position     : relative;
            width        : 40px;
            height       : 40px;
            background   : $primaryCol;
            border-radius: 50%;
            cursor       : pointer;
            text-align   : center;

            &::before {
                content      : "";
                width        : 70px;
                height       : 70px;
                position     : absolute;
                background   : $primaryCol;
                opacity      : 0.3;
                border-radius: 50%;
                top          : -15px;
                right        : -15px;
            }

            &::after {
                content      : "";
                width        : 0;
                height       : 0;
                border-left  : 8px solid $black;
                border-top   : 5px solid transparent;
                border-bottom: 5px solid transparent;
                position     : absolute;
                top          : 15px;
                right        : 15px;
            }

        }
    }

    .downloadContainer {
        position       : absolute;
        bottom         : 0;
        right          : 0;
        display        : flex;
        align-items    : center;
        justify-content: center;
        height         : 100px;
        background     : $primaryCol;
        padding        : 0 50px;

        .text {
            font-size     : 14px !important;
            text-transform: uppercase;
            padding-left  : 15px;
        }
    }

}

@media screen and (max-width: 992px) {
    .section {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .section {
        background-image: none !important;
        height          : initial;
        margin-left     : 0px;

        .downloadContainer {
            bottom         : 4px;
            display        : flex;
            align-items    : center;
            justify-content: center;
            height         : 52px;
            background     : $primaryCol;
            z-index        : 2;

            .text {
                font-size     : 14px !important;
                text-transform: uppercase;
                padding-left  : 15px;
            }
        }

        .title {
            position: relative;
            height  : initial;
        }

        .sectionImg {
            display: block;
        }

        .secImgContainer {
            position  : relative;
            bottom    : inherit;
            width     : 100%;
            left      : inherit;
            margin-top: 10px;
            box-shadow: none;
        }

        .secTitle {
            writing-mode: horizontal-tb;
            transform   : initial;
            height      : 25px;
            padding     : 0 80px 0 0;
            width       : 100%;
            text-align  : left;

            span {
                &::after {
                    width : 5rem;
                    height: 1px;
                    right : -90px;
                    top   : 6px;
                }
            }
        }

        .vidContainer {
            .playButton {
                top: 65px;
            }
        }

        .desc {
            position     : relative;
            top          : initial;
            max-width    : 100%;
            padding-right: 0px;
        }
    }
}